<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>Dummy Store</title>
      <%= stylesheet_link_tag "style" %>
   </head>

   <body class = 'landing'>
      <div id = "container">
         
         <div id = "header" style='background-color:#eee'>
            <h1>Dummy Store</h1>
            <h4>powered by Ruby on Rails</h4>
            <nav id="nav">
               <ul>
                  <li><%= link_to("Home", {:controller => 'demo', :action => 'index' } ) %></li>
                  <li><%= link_to("Store", {:controller => 'demo', :action => 'initial_store' }) %></li>
                  <li><%= link_to("Paylist", {:controller => 'demo', :action => 'paylist' }) %></li>
                  <li><%= link_to("Payments", {:controller => 'demo', :action => 'pay_details' }) %></li>
                  <li><%= link_to("Orders", {:controller => 'demo', :action => 'order_details' }) %></li>
               </ul>
         </div>

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "sidebar"></div>
         
      </div>
   </body>
   
</html>